# Dependencies
node_modules/

# Environment variables - TUYET DOI KHONG COMMIT FILE NAY
.env
.env.local
.env.production

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
